@model IEnumerable<Project>
@{
    ViewData["Title"] = "Aggregates";
}

<div class="row">
    <div class="col-12">
        <h3>Aggreages</h3>
        <table class="table table-bordered">
            <thead class="table-light">
                <tr>
                    <th>Aggregate Function</th>
                    <th>Result</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Count</td>
                    <td>@Model.Count()</td>
                </tr>
                <tr>
                    <td>Max (Price)</td>
                    <td>@Model.Max(d => d.ProjectCost)</td>
                </tr>
                <tr>
                    <td>Min (Price)</td>
                    <td>@Model.Min(d => d.ProjectCost)</td>
                </tr>
                <tr>
                    <td>Average (Price)</td>
                    <td>@Model.Average(d => d.ProjectCost)</td>
                </tr>
                <tr>
                    <td>Sum (Price)</td>
                    <td>@Model.Sum(d => d.ProjectCost)</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


